<?xml version="1.0" encoding="UTF-8"?>

<!--
- Configuration Setting Using XML.
-
- @author  Jisung Lim ( iejisung@gmail.com )
- @version 1.8 Configuration Setting Using XML (3) Applying {@code DataSource} Interface
- @since   1.4 Inversion of Control
-->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
                           http://www.springframework.org/schema/beans/spring-beans-3.0.xsd">

  <!--
  <bean id="realConnectionMaker" class="springbook.user.dao.DConnectionMaker" />

  <bean id="connectionMaker" class="springbook.user.dao.CountingConnectionMaker">
    <property name="realConnectionMaker" ref="realConnectionMaker" />
  </bean>
  -->

  <bean id="dataSource" class="org.springframework.jdbc.datasource.SimpleDriverDataSource">
    <property name="driverClass" ref="com.mysql.jdbc.Driver"/>
    <property name="url" ref="jdbc:mysql://localhost:3306/springbook"/>
    <property name="username" ref="springbook"/>
    <property name="password" ref="springbook"/>
  </bean>

  <bean id="userDao" class="springbook.user.dao.UserDao">
    <property name="connectionMaker" ref="connectionMaker" />
  </bean>

</beans>